# Importações

In [162]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl

# Limpeza de Dados

In [163]:
caracterizacao = pd.read_excel("Teste_Excel.xlsx", sheet_name="Caracterização")
respostas = pd.read_excel("Teste_Excel.xlsx", sheet_name="Respostas")

In [164]:
caracterizacao.head()

,HASHTAG,P_SEXO,P_RENDA,P_IDADE,P_ESTADO
0,HASHTAG,Sexo,Qual é a renda familiar mensal da sua residênc...,Qual é a sua faixa etária?,Em qual estado você mora?
1,213920180509133519268545,Feminino,De R$4.771 a R$9.540,De 30 a 39 anos,Distrito Federal (DF)
2,213920180509133732513210,Masculino,De R$2.863 a R$4.770,De 16 a 24 anos,São Paulo (SP)
3,21392018050913574121746912,Feminino,De R$4.771 a R$9.540,De 30 a 39 anos,Minas Gerais (MG)
4,21392018050914010521746919,Feminino,De R$9.541 a R$14.310,De 25 a 29 anos,Mato Grosso (MT)

In [165]:
respostas.head()

,HASHTAG,P5,P10
0,HASHTAG,Você possui filhos?,Se você precisasse comprar produtos lácteos ho...
1,21392018050917081521754017,Não,Aurora
2,21392018050918243021777353,Sim,Aurora
3,213920180510134408191373,Não,Aurora
4,213920180512084900487127,Não,Aurora

In [166]:
caracterizacao.tail()

,HASHTAG,P_SEXO,P_RENDA,P_IDADE,P_ESTADO
1552,213920180518145951108296,Masculino,De R$4.771 a R$9.540,De 50 a 59 anos,Amapá (AP)
1553,213920180518143618428247,Masculino,Até R$954,De 16 a 24 anos,Bahia (BA)
1554,213920180518150116292346,Masculino,De R$1.909 a R$2.862,De 40 a 49 anos,Distrito Federal (DF)
1555,213920180518150457495567,Masculino,De R$4.771 a R$9.540,De 50 a 59 anos,Paraná (PR)
1556,213920180518150821210247,Masculino,De R$1.909 a R$2.862,De 30 a 39 anos,Distrito Federal (DF)

In [167]:
respostas.tail()

                       HASHTAG   P5    P10
1552  213920180518141419291467  Sim  Vigor
1553   21392018051814305037533  Sim  Vigor
1554  213920180518143437251129  Não  Vigor
1555  213920180518143824317571  Sim  Vigor
1556   21392018051814493042153  Sim  Vigor

In [168]:
abas= [caracterizacao, respostas]
juncao = caracterizacao.merge(respostas, on="HASHTAG", how="outer")

In [169]:
juncao

,HASHTAG,P_SEXO,P_RENDA,P_IDADE,P_ESTADO,P5,P10
0,213920180509133519268545,Feminino,De R$4.771 a R$9.540,De 30 a 39 anos,Distrito Federal (DF),Sim,Nestlé
1,213920180509133732513210,Masculino,De R$2.863 a R$4.770,De 16 a 24 anos,São Paulo (SP),Sim,Nenhuma
2,21392018050913574121746912,Feminino,De R$4.771 a R$9.540,De 30 a 39 anos,Minas Gerais (MG),Não,Verde Campo
3,21392018050914010521746919,Feminino,De R$9.541 a R$14.310,De 25 a 29 anos,Mato Grosso (MT),Não,Piracanjuba
4,21392018050914134421746926,Masculino,De R$4.771 a R$9.540,De 30 a 39 anos,São Paulo (SP),Não,Nestlé
...,...,...,...,...,...,...,...
1552,213920180518145951108296,Masculino,De R$4.771 a R$9.540,De 50 a 59 anos,Amapá (AP),Sim,Danone
1553,213920180518150116292346,Masculino,De R$1.909 a R$2.862,De 40 a 49 anos,Distrito Federal (DF),Sim,Itambé
1554,213920180518150457495567,Masculino,De R$4.771 a R$9.540,De 50 a 59 anos,Paraná (PR),Sim,Nestlé
1555,213920180518150821210247,Masculino,De R$1.909 a R$2.862,De 30 a 39 anos,Distrito Federal (DF),Sim,Itambé
1556,HASHTAG,Sexo,Qual é a renda familiar mensal da sua residênc...,Qual é a sua faixa etária?,Em qual estado você mora?,Você possui filhos?,Se você precisasse comprar produtos lácteos ho...

In [170]:
juncao2 = juncao.drop(juncao.index[1556])
juncao2

,HASHTAG,P_SEXO,P_RENDA,P_IDADE,P_ESTADO,P5,P10
0,213920180509133519268545,Feminino,De R$4.771 a R$9.540,De 30 a 39 anos,Distrito Federal (DF),Sim,Nestlé
1,213920180509133732513210,Masculino,De R$2.863 a R$4.770,De 16 a 24 anos,São Paulo (SP),Sim,Nenhuma
2,21392018050913574121746912,Feminino,De R$4.771 a R$9.540,De 30 a 39 anos,Minas Gerais (MG),Não,Verde Campo
3,21392018050914010521746919,Feminino,De R$9.541 a R$14.310,De 25 a 29 anos,Mato Grosso (MT),Não,Piracanjuba
4,21392018050914134421746926,Masculino,De R$4.771 a R$9.540,De 30 a 39 anos,São Paulo (SP),Não,Nestlé
...,...,...,...,...,...,...,...
1551,213920180518145755573289,Masculino,De R$1.909 a R$2.862,De 16 a 24 anos,São Paulo (SP),Sim,Elegê
1552,213920180518145951108296,Masculino,De R$4.771 a R$9.540,De 50 a 59 anos,Amapá (AP),Sim,Danone
1553,213920180518150116292346,Masculino,De R$1.909 a R$2.862,De 40 a 49 anos,Distrito Federal (DF),Sim,Itambé
1554,213920180518150457495567,Masculino,De R$4.771 a R$9.540,De 50 a 59 anos,Paraná (PR),Sim,Nestlé
1555,213920180518150821210247,Masculino,De R$1.909 a R$2.862,De 30 a 39 anos,Distrito Federal (DF),Sim,Itambé

In [194]:
print(juncao.dtypes)

HASHTAG     object
P_SEXO      object
P_RENDA     object
P_IDADE     object
P_ESTADO    object
P5          object
P10         object
dtype: object

# 1. Responda as perguntas:

## a) Quantas mulheres não tem filhos?

In [187]:
juncao3 = juncao2.groupby('P_SEXO')['P5'].value_counts()
juncao3

P_SEXO     P5
Feminino   Sim    445
           Não    380
Masculino  Não    374
           Sim    357
Name: count, dtype: int64

## b) Quantas pessoas de 25 a 29 anos preferem a marca Itambé?

In [ ]:
testando 123

KeyError: 'P_IDADE'

# 2. Em seguida, monte um Power Point com gráficos das seguintes segmentações:

## a) Faixa etária por sexo;

## b) Marcas consumidas por sexo;

## c) Filhos por faixa etária.